<section class="product best-seller">
    <div class="container">
        <div class="best-selling-section">
            <div class="section-title">
            {% if section.settings.heading != blank %}
                <h5>{{ section.settings.heading }}</h5>
            {% endif %}
            {% if section.settings.button_label != blank %}
                <a href="{{ section.settings.button_link }}" class="view">{{ section.settings.button_label }}</a>
            {% endif %}
            </div>
            
            <div class="best-selling-items">
              {% for block in section.blocks %}
                <div class="product-wrapper">
                    <div class="wrapper-img">
                      <img src="{{ block.settings.image | image_url }}" alt="img">
                        
                        {% comment %} <span>
                            <svg width="94" height="82" viewBox="0 0 94 82" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M58.256 40.0336L70.0806 40.0336L46.9682 -2.64059e-05L29.516 30.2262C35.3719 40.3689 41.2279 50.5174 47.0898 60.663L47.2738 60.9804L70.3506 60.9804L76.2304 71.1617L64.5332 71.1617L53.1476 71.1617L59.0955 81.4616C70.7333 81.4615 82.3652 81.4615 94 81.4615L76.1799 50.5945C68.3393 50.5945 60.5016 50.5945 52.661 50.5945L41.1212 30.6059L46.9653 20.4751L58.256 40.0336Z"
                                    fill="white" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M35.3604 60.9805L29.4777 71.1647L17.7865 71.1647L23.6662 60.9805L29.6498 50.6243L26.7099 45.5307L23.7344 40.3808L23.5327 40.7308L0.0108757 81.4646L11.8356 81.4646L23.5327 81.4646L35.1586 81.4646L41.1036 71.1647L41.3053 70.8176L35.6303 60.9805L35.3604 60.9805Z"
                                    fill="#F11921" />
                            </svg>
                        </span> {% endcomment %}
                    </div>
                    <div class="wrapper-info">
                        <a href="{{ block.settings.button_link}}" class="wrapper-details">{{ block.settings.button_label}}</a>
                    </div>
                </div>
              {% endfor %}
            </div>
        </div>
    </div>
</section>

{% schema %}
{
  "name": "Best Seller",
  "class": "seller-section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Brand Heading"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Seller",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Brand Name"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Add Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Best Seller",
      "blocks": [
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}