<section class="product flash-sale">
  <div class="container">
    <div class="section-title">
      {% if section.settings.heading != blank %}
        <h5>{{ section.settings.heading }}</h5>
      {% endif %}
      <!--
        {% if section.settings.heading == 'Flash Sale' %}
          {% render 'sale-countdown' %}
        {% endif %}
      -->
      {% if section.settings.button_label != blank %}
        <a href="{{ section.settings.button_link }}" class="view">{{ section.settings.button_label }}</a>
      {% endif %}
    </div>
    <div class="flash-sale-section">
      <div class="row g-5">
        {% if section.settings.collection_link != blank %}
          {% assign collection = collections[section.settings.collection_link] %}
          <!-- {{ collection.handle }} -->
          {% for product in collection.products %}
            <div class="col-lg-3 col-md-6">
              <div class="product-wrapper" data-aos="fade-right" data-aos-duration="100">
                <div class="product-img">
                  {% comment %} <a href="{{product.url}}"><img src="{{ product.featured_image | product_img_url: '' }}" /></a> {% endcomment %}
                  {% if product.featured_image != blank %}
                    <img src="{{ product.featured_image | product_img_url: '' }}" alt="product-img">
                  {% endif %}
                </div>
                <div class="product-info">
                  <div class="ratings">
                    <span>
                      <svg
                        width="75"
                        height="15"
                        viewBox="0 0 75 15"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                            d="M7.5 0L9.18386 5.18237H14.6329L10.2245 8.38525L11.9084 13.5676L7.5 10.3647L3.09161 13.5676L4.77547 8.38525L0.367076 5.18237H5.81614L7.5 0Z"
                            fill="#FFA800" />
                        <path
                            d="M22.5 0L24.1839 5.18237H29.6329L25.2245 8.38525L26.9084 13.5676L22.5 10.3647L18.0916 13.5676L19.7755 8.38525L15.3671 5.18237H20.8161L22.5 0Z"
                            fill="#FFA800" />
                        <path
                            d="M37.5 0L39.1839 5.18237H44.6329L40.2245 8.38525L41.9084 13.5676L37.5 10.3647L33.0916 13.5676L34.7755 8.38525L30.3671 5.18237H35.8161L37.5 0Z"
                            fill="#FFA800" />
                        <path
                            d="M52.5 0L54.1839 5.18237H59.6329L55.2245 8.38525L56.9084 13.5676L52.5 10.3647L48.0916 13.5676L49.7755 8.38525L45.3671 5.18237H50.8161L52.5 0Z"
                            fill="#FFA800" />
                        <path
                            d="M67.5 0L69.1839 5.18237H74.6329L70.2245 8.38525L71.9084 13.5676L67.5 10.3647L63.0916 13.5676L64.7755 8.38525L60.3671 5.18237H65.8161L67.5 0Z"
                            fill="#FFA800" />
                      </svg>
                    </span>
                  </div>

                  <div class="product-description">
                    <a href="{{product.url}}" class="product-details">{{ product.title }} </a>
                    <div class="price">
                      <span class="price-cut">{{ product.price | money }}</span>
                      <span class="new-price">{{ product.compare_at_price | money }}</span>
                    </div>
                  </div>
                </div>
<br>
                <div class="product-cart-btn">



                  {% form 'product', product %}
                    <label class="product-option">Options</label>
                    <select class="product-select" name="id">
                      {% for variant in product.variants %}
                        <option
                          {% if selectedVariant.id == variant.id %}
                            selected
                          {% endif %}
                          value="{{ variant.id }}"
                        >
                          {{ variant.title }}
                        </option>
                      {% endfor %}
                    </select>

                    <div class="product-quantity">
                      <label for="quantity">Quantity</label>
                      <input name="quantity" id="quantity" value="1">
                    </div>

                    <button class="button product-add" type="submit">Add to cart</button>
                    <p class="added-to-cart"></p>
                  {% endform %}

                  {% comment %} <a href="cart.html" class="product-btn">Add To Cart</a> {% endcomment %}
                </div>
              </div>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>

  
</section>
<script>  
const addToCartForms = document.querySelectorAll('form[action="/cart/add"]');

addToCartForms.forEach((form) => {
  form.addEventListener("submit", async (event) => {
    // Prevent normal submission
    event.preventDefault();

    // Submit form with ajax
    await fetch("/cart/add", {
      method: "post",
      body: new FormData(form),
    });

    // Get new cart object
    const res = await fetch("/cart.json");
    const cart = await res.json();

    // Update cart count
    document.querySelectorAll(".cart-count-bubble span").forEach((el) => {
      el.textContent = cart.item_count;
    });

    // Display message
    const message = document.createElement("p");
    message.classList.add("added-to-cart");
    message.textContent = "Added to cart!";
    form.appendChild(message);
  });
});

</script> 

{% schema %}
{
  "name": "Recommended Products",
  "class": "recomended_prod-section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "collection",
      "id": "collection_link",
      "label": "Collection"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Recommended Products"
    }
  ]
}
{% endschema %}
