<style>
  .swiper-button-prev, .swiper-rtl .swiper-button-next {
    display: none !important;
}
  

</style>
<section id="hero" class="hero">
<!-- <div class="swiper hero-swiper">
    <div class="swiper-wrapper hero-wrapper">
      {%- for block in section.blocks -%}
        <div class="swiper-slide hero-slider-one">
          {% comment %} <img src="{{ block.settings.slide_image | img_url: 'medium'}}"> {% endcomment %}
          <img src="{{ block.settings.slide_image | img_url: ''}}">
          <div class="container">
            <div class="col-lg-6">
              <div class="wrapper-section" data-aos="fade-up">
                <div class="wrapper-info">
                  {% if block.settings.heading_sub_title != blank %}
                    <h5 class="wrapper-subtitle">
                      {{ block.settings.heading_sub_title }}
                      {% comment %} UP TO <span class="wrapper-inner-title">70%</span> OFF {% endcomment %}
                    </h5>
                  {% endif %}
                  {% if block.settings.heading_details != blank %}
                    <h1 class="wrapper-details">{{ block.settings.heading_details }}</h1>
                  {% endif %}
                  {% if block.settings.button_link != blank %}
                    <a href="{{ block.settings.button_link }}" class="shop-btn">{{ block.settings.button_label }}</a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
  </div>   -->
<div class="swiper hero-swiper">
   <swiper-container class="mySwiper swiper-container swiper-wrapper hero-wrapper"pagination="true" pagination-clickable="true" space-between="30" effect="fade"
    navigation="true">
      {%- for block in section.blocks -%}
    <swiper-slide class="swiper-slide hero-slider-three swiper-slide-visible" style="background-image:url('{{ block.settings.bg-image.src | image_url   }}');">
    
         <div class="container">
            <div class="col-lg-6">
              <div class="wrapper-section" data-aos="fade-up">
                <div class="wrapper-info">
                  {% if block.settings.heading_sub_title != blank %}
                    <h5 class="wrapper-subtitle">
                      {{ block.settings.heading_sub_title }}
                      {% comment %} UP TO <span class="wrapper-inner-title">70%</span> OFF {% endcomment %}
                    </h5>
                  {% endif %}
                  {% if block.settings.heading_details != blank %}
                    <h1 class="wrapper-details">{{ block.settings.heading_details }}</h1>
                  {% endif %}
                  {% if block.settings.button_link != blank %}
                    <a href="{{ block.settings.button_link }}" class="shop-btn">{{ block.settings.button_label }}</a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
    </swiper-slide>
{% endfor %}
  </swiper-container>
</div>
</section>


 <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
<script>
  var swiper = $('.swiper-container').swiper({
  onSlideChangeStart: function(){
    // on the first slide
    if (swiper.activeIndex==0) {
      $('.left-arrow').hide()
      $('.right-arrow').show()
    }
    // most right postion
    else if (swiper.activeIndex == swiper.slides.length-1) {
      $('.left-arrow').show()
      $('.right-arrow').hide()
    }
    // middle positions
    else {
      $('.left-arrow').show()
      $('.right-arrow').show()
    }   
  }
})
</script>

{% schema %}
{
  "name": "Hero Banner",
  "max_blocks": 10,
  "class": "hero-banner-section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "options": [
        {
          "value": "full_bleed",
          "label": "Full width"
        },
        {
          "value": "grid",
          "label": "Grid"
        }
      ]
    },
    {
      "type": "select",
      "id": "slider_visual",
      "label": "Pagination style",
      "options": [
        {
          "value": "dots",
          "label": "Dots"
        },
        {
          "value": "counter",
          "label": "Counter"
        },
        {
          "value": "numbers",
          "label": "Numbers"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "limit": 5,
      "settings": [
    
        {
          "type": "html",
          "id": "heading_sub_title",
          "label": "Heading Subtitle"
        },
        {
          "type": "inline_richtext",
          "id": "heading_details",
          "label": "Heading Details"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button Label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        },
      {
  "type": "image_picker",
  "id": "bg-image",
  "label": "Custom Background Image"
}
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero Banner",
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ]
}
{% endschema %}
