<section class="product fashion-style">
  <div class="container">
    <div class="style-section">
      <div class="row gy-4 gx-5 gy-lg-0">
        {% for block in section.blocks %}
          <div class="col-lg-6">
            <div
              class="product-wrapper wrapper-one"
              data-aos="fade-right"
              style="background-image:url('{{ block.settings.image | image_url }}');"
            >
              <!-- <img src="{{ block.settings.image | img_url: '400x300' }}"> -->
              <div class="wrapper-info">
                <span class="wrapper-subtitle">{{ block.settings.heading_sub_title }}</span>
                <h4 class="wrapper-details">
                  {{ block.settings.heading_details }}
                  <!-- Get 65% Offer <span class="wrapper-inner-title">& Make New</span> Fusion. -->
                </h4>
                {% if block.settings.button_label != blank %}
                  <a href="{{ block.settings.button_link }}" class="shop-btn">
                    {{ block.settings.button_label }}
                    <span>
                      <svg
                        width="8"
                        height="14"
                        viewBox="0 0 8 14"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <rect x="1.45312" y="0.914062" width="9.25346" height="2.05632"
                            transform="rotate(45 1.45312 0.914062)" />
                        <rect x="8" y="7.45703" width="9.25346" height="2.05632"
                            transform="rotate(135 8 7.45703)" />
                      </svg>
                    </span>
                  </a>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
        {% comment %}
           <div class="col-lg-6">
            <div class="product-wrapper wrapper-two" data-aos="fade-up">
              <div class="wrapper-info">
                <span class="wrapper-subtitle">Mega OFFER</span>
                <h4 class="wrapper-details">
                  Make your New
                  <span class="wrapper-inner-title">Styles with Our</span>
                  Products
                </h4>
                <a href="product-sidebar.html" class="shop-btn"
                  >Shop Now
                  <span>
                    <svg
                      width="8"
                      height="14"
                      viewBox="0 0 8 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <rect x="1.45312" y="0.914062" width="9.25346" height="2.05632"
                          transform="rotate(45 1.45312 0.914062)" />
                      <rect x="8" y="7.45703" width="9.25346" height="2.05632"
                          transform="rotate(135 8 7.45703)" />
                    </svg>
                  </span>
                </a>
              </div>
            </div>
          </div>
        {% endcomment %}
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Product Fashion",
  "class": "fashion-section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Fashion Collection",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "heading_details",
          "label": "Heading Details"
        },
        {
          "type": "text",
          "id": "heading_sub_title",
          "label": "Heading Subtitle"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button Label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product Fashion",
      "blocks": [
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}
