<style>
  .product-wrapper {
    pointer-events: inherit;
  }
  * {
    pointer-events: inherit !important;
  }
</style>
<section class="product-category">
  <div class="container">
    <div class="section-title">
      {% if section.settings.heading != blank %}
        <h5>
          {{ section.settings.heading }}
        </h5>
      {% endif %}
      {% if section.settings.all_collection_label != blank %}
        <a href="{{ section.settings.all_collection_link }}" class="view">
          {{ section.settings.all_collection_label }}
        </a>
      {% endif %}
    </div>
    <div class="category-section">
      {% for block in section.blocks %}
        <div class="product-wrapper" data-aos="fade-right" data-aos-duration="100">
          <div class="wrapper-img">
            <img src="{{ block.settings.image | image_url }}" alt="dress">
          </div>
          <div class="wrapper-info">
            {% if block.settings.coll_label != blank %}
              <a href="{{ block.settings.collection_link }}" class="wrapper-details">{{ block.settings.coll_label }}</a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Product Category",
  "class": "prod_category-section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "all_collection_label",
      "label": "Collection label"
    },
    {
      "type": "url",
      "id": "all_collection_link",
      "label": "All Collection Link"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Product Collection",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "coll_label",
          "label": "Fashion Name"
        },
        {
          "type": "url",
          "id": "collection_link",
          "label": "Add collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product Category",
      "blocks": [
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}
