  <div class="header-top-section">
    <div class="container">
      <div class="header-top">
        <div class="header-profile">
          {% assign nav_menu_handle = section.settings.top_nav_menu | default: 'heder-nav' %}
            {% assign nav_menu = linklist[nav_menu_handle] %}
            
            {% for link in nav_menu.links %}
              <a
                href="{{ link.url }}"
                {% if link.active %}
                  aria-current="page"
                {% endif %}
              >
                {{ link.title }}
              </a>
            {% endfor -%}
          {% comment %}
            <a href="#"><span>Account</span></a>
            <a href="#"><span>Track Order</span></a>
            <a href="#"><span>Support</span></a>
          {% endcomment %}
        </div>
        <div class="header-contact d-none d-lg-block">
          {%- if section.settings.url_link != blank -%}
            <a href="{{ section.settings.url_link }}">
              <span>
                {%- if section.settings.short_desc != blank -%}{{ section.settings.short_desc }}{%- endif -%}
              </span>
              <span class="contact-number">{{ section.settings.contact_num }}</span>
            </a>
          {%- endif -%}
        </div>
      </div>
    </div>
  </<div>
{% schema %}
{
  "name": "Header Top",
  "class": "section-header-top",
 
  "settings": [
    {
      "type": "link_list",
      "id": "top_nav_menu",
      "label": "Nav Menu"

    },
    {
      "type": "text",
      "id": "short_desc",
      "label": "Short Note"
    },

    {
      "type": "url",
      "id": "url_link",
      "label": "URL Link"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Header Top"
    }
  ]
}
{% endschema %}
